* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.navbar {
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 0.5px 10px #404040;
    padding: 25px;
    background-color: rgb(238, 204, 140);
}

.enlaces {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-right: 20px;
}

.enlaces a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 15px;
    height: 60%;
    color: black;
    padding: 10px;
    margin: 1px;
    transition: 0.3s;
}

.enlaces a:hover {
    background-color: wheat;
    border-radius: 5px;
    box-shadow: 1px 0.5px 10px #404040;
}

.logo {
    margin-left: 20px;
    margin-top: 5px;
    max-width: 50px;
    max-height: 50px;
    mix-blend-mode: multiply;
}

.logo img {
    height: 100%;
    width: 100%;
}