    @import url(stylenav.css);
    body {
        background-color: #F3E9DD;
    }
    
    .container-hero {
        display: flex;
        justify-content: space-around;
        margin-top: 100px;
    }
    
    .hero1,
    .hero2 {
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 1000px;
        padding: 80px;
        border-radius: 20px;
        box-shadow: 2px 0.5px 10px #404040;
        justify-content: space-between;
        margin: 20px;
        background-color: #FDF6EC;
    }
    
    .info-hero {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-around;
        height: 100%;
        max-width: 400px;
    }
    
    .info-hero h2 {
        font-weight: 300;
        font-size: 20px;
    }
    
    .button1,
    .button2 {
        background-color: #B7CADB;
        padding: 15px;
        align-self: center;
        border-radius: 10px;
        margin-top: 30px;
        transition: 1s;
    }
    
    .button1:hover,
    .button2:hover {
        cursor: pointer;
        background-color: #4b97da;
    }
    
    .benefits-text,
    .how-we-work-text {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    
    .benefits-text h2,
    .how-we-work-text h2 {
        padding: 40px;
        font-size: 40px;
        letter-spacing: 3px;
    }
    
    .benefits-text p,
    .how-we-work-text p {
        font-size: 20px;
        padding-bottom: 40px;
    }
    
    .container-benefits,
    .container-how-we-work {
        display: flex;
        /* border: 1px solid red; */
        align-items: center;
        justify-content: space-around;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    
    .container-benefits i {
        font-size: 60px;
    }
    
    .how-we-work i {
        font-size: 40px;
    }
    
    .benefits {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 400px;
        text-align: center;
    }
    
    .benefits p,
    .how-we-work p {
        max-width: 200px;
    }
    
    .how-we-work {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 300px;
        text-align: center;
    }
    
    .benefits h3,
    .how-we-work h3 {
        margin: 40px;
    }
    
    .benefits__section {
        margin-top: 150px;
    }
    
    @media screen and (max-width: 1280px) {
        .container-hero {
            flex-wrap: wrap;
        }
    }
    
    @media screen and (max-width: 768px) {
        .container-hero {
            flex-wrap: wrap;
        }
        .container-benefits,
        .container-how-we-work {
            flex-direction: column;
        }
        .container-benefits i,
        .container-how-we-work i {
            margin-top: 40px;
        }
    }
    
    @media screen and (max-width: 576px) {
        .hero1,
        .hero2 {
            width: 90%;
            max-width: 576px;
        }
        .hero1 img,
        .hero2 img {
            display: none;
        }
        .hero1 h1,
        .hero2 h1 {
            margin-bottom: 20px;
        }
    }