    @import url(stylenav.css);
    body {
        background-color: #F3E9DD;
    }
    
    .container-hero {
        display: flex;
        justify-content: space-around;
        margin-top: 100px;
    }
    
    .hero1,
    .hero2 {
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 1000px;
        padding: 80px;
        border-radius: 20px;
        box-shadow: 2px 0.5px 10px #404040;
        justify-content: space-between;
        margin: 20px;
        background-color: #FDF6EC;
    }
    
    .info-hero {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-around;
        height: 100%;
        max-width: 400px;
    }
    
    .info-hero h2 {
        font-weight: 300;
        font-size: 20px;
    }
    
    .button1,
    .button2 {
        background-color: #B7CADB;
        padding: 15px;
        align-self: center;
        border-radius: 10px;
        margin-top: 30px;
    }
    
    .button1,
    .button2:hover {
        cursor: pointer;
    }